@model IEnumerable<LuuThiPhuong345.Models.LTP0345>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LTPName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LTPGender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LTPName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LTPGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LTPId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LTPId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LTPId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
